<footer>
	<p>
		This page is also available in the following languages:
	</p>
	<p>
		<!-- TODO add language bar -->
		How to set <a href="">the default document language</a>
	</p>
	<hr>

	<p>
		See our <a href="">contact page</a> to get in touch. Web site source code is <a href="">available</a>.
	</p>
	<p>
		Last Modified: <br>
		Copyright &copy; 1997-2025 <a href="https://www.spi-inc.org/">SPI</a> and others; See <a href="">license terms</a><br>
		Debian is a registered <a href="">trademark</a> of Software in the Public Interest, Inc.
	</p>

</footer>